@import './Common.scss';


.Contact_us_container {
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.Contact_us {
    width: 43%;
    a {
        text-decoration: none;
        color: rgb(101, 101, 109);
        display: flex;
        align-items: center;
        padding: 8px 0;
        svg {
            width: 5%;
        }
       span{
        padding-left: 10px;
       }

    }
    a.instagram-contact {
        // content: " ";
        // color: red;
        // color: #f4f4f5;
        padding-bottom: 40px;
        border-bottom: 2px solid #f4f4f5;
    }
    a.email-contact {
        padding-top: 40px;
    }
}